/* CSS Document */

.lic-table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0 auto 35px !important;
    padding: 0;
    position: relative;
}

table.lic-table-list, table.lic-table-list tr th, table.lic-table-list tr td {
    border: 1px solid #eaeaea;
    margin: 0 !important;
    padding: 7px 10px;
    vertical-align: middle;
}
table.lic-table-list {
    background: #fdfdfd none repeat scroll 0 0;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
	color: #757575;
	border-collapse: collapse;
}
table.lic-table-list tr th {
    background: #f2f2f2 none repeat scroll 0 0;
    font-size: 14px;
    line-height: 1.3em;
    padding: 11px 10px;
	text-transform: uppercase;
}

table.lic-table-list tr td a {
	color: #757575;
	text-decoration:none;
}

