/* CSS Document */

.lic-table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0 auto 35px !important;
    padding: 0;
    position: relative;
}

table.lic-table-list, table.lic-table-list tr th, table.lic-table-list tr td {
    border: 1px solid #eaeaea;
    margin: 0 !important;
    padding: 7px 10px;
    vertical-align: middle;
}
table.lic-table-list {
    background: #fdfdfd none repeat scroll 0 0;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
	color: #757575;
	border-collapse: collapse;
}
table.lic-table-list tr th {
    background: #f2f2f2 none repeat scroll 0 0;
    font-size: 14px;
    line-height: 1.3em;
    padding: 11px 10px;
	text-transform: uppercase;
}

table.lic-table-list tr td a {
	color: #757575;
	text-decoration:none;
}

.dark-bg{background:none repeat scroll 0 0 #0B0B0B;height:100%;left:0;opacity:0.8;overflow:hidden;position:fixed;top:0;width:100%;z-index:1042;}
#loading{left: 47%;margin: 30px;padding: 0;position: fixed;top: 40%;width: 3%;z-index: 56456;}

@media screen and (max-width: 767px) {
    .fwt-table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }

    .fwt-table-responsive > .table {
        margin-bottom: 0
    }

    .fwt-table-responsive > .table > thead > tr > th, .fwt-table-responsive > .table > tbody > tr > th, .fwt-table-responsive > .table > tfoot > tr > th, .fwt-table-responsive > .table > thead > tr > td, .fwt-table-responsive > .table > tbody > tr > td, .fwt-table-responsive > .table > tfoot > tr > td {
        white-space: nowrap
    }

    .fwt-table-responsive > .table-bordered {
        border: 0
    }

    .fwt-table-responsive > .table-bordered > thead > tr > th:first-child, .fwt-table-responsive > .table-bordered > tbody > tr > th:first-child, .fwt-table-responsive > .table-bordered > tfoot > tr > th:first-child, .fwt-table-responsive > .table-bordered > thead > tr > td:first-child, .fwt-table-responsive > .table-bordered > tbody > tr > td:first-child, .fwt-table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0
    }

    .fwt-table-responsive > .table-bordered > thead > tr > th:last-child, .fwt-table-responsive > .table-bordered > tbody > tr > th:last-child, .fwt-table-responsive > .table-bordered > tfoot > tr > th:last-child, .fwt-table-responsive > .table-bordered > thead > tr > td:last-child, .fwt-table-responsive > .table-bordered > tbody > tr > td:last-child, .fwt-table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0
    }

    .fwt-table-responsive > .table-bordered > tbody > tr:last-child > th, .fwt-table-responsive > .table-bordered > tfoot > tr:last-child > th, .fwt-table-responsive > .table-bordered > tbody > tr:last-child > td, .fwt-table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0
    }
}