.travis.yml
/bin/
phpunit.xml
/tests/
ssh-key
ssh-key.pub

# node modules
node_modules/

# Composer Dependencies
vendor/

# ignore package
wp-freshdesk/
wp-freshdesk.zip

#ignore css sourcemap

css/sourcemap/